* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #90AFC5;
}

nav {
	position: fixed;
	top: 0;
	height: 50px;
	background-color: #763626;
	color: white;
	width: 100%;
	z-index : 1000;
}

a {
	text-decoration: none;
	color: white;
}

.nav-container {
	margin: 0 auto;
	padding: 0 25px;
	position: relative;
}

.nav-container p, .nav-container ul {
	display: inline-block;
}


.right {
	position: relative;
	float: right;
}

.nav-container li {
	display: inline;
	margin: 0 10px;
}

.page {
	height: 100vh;
  width: 100vw;
  padding-top: 50px;
}

.page-container {
	height: 80%;
	width: 80%;
	background-color: #336B87;
	margin: auto;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.home-image {
	max-width: 100%;
	height: auto;
}